* {
	font-family: Arial;
	margin: auto;
	text-align: center;
}
h1 {
	margin-top: 100px;
	color: #33cccc;
	font-family: arial;
	font-size: 95px;
	font-weight: lighter;
}

#line2 {
	color: grey;
	font-family: arial;
	font-weight: lighter;
	font-size: 25px;
	margin-top: 15px;
}

.dropdown {
	color: grey;
	height: 40px;
	width: 200px;
	border: 1px solid grey;
	border-radius: 10%;
	background-color: white;
	text-align: left;
	padding-top: 15px;
	padding-left: 3px;
}

.dropdown-options {
	display: none;
	position: absolute;
	background-color: #e6e6e6;
	min-width: 200px;
	padding: 5px;
	z-index: 1;
	text-align: right;
}

.dropdown:hover .dropdown-options {
	display: block;
}

table {
	margin-top: 50px;
}

span {
	color: black;
	margin: auto;

}

#Animate {
	border: 2px solid #33cccc;
	border-radius: 10%;
	background-color: white;
	color: #33cccc;
	width: 125px;
	height: 40px;
	text-align: left;
	padding-top: 15px;
	margin-left: 10px;
}

hr {
	width: 400px;
	margin-top: 25px;
}

#download {
	color: grey;
	margin-top: 20px;
}

#another {
	margin-top: 30px;
	font-size: 13px;
	color: black;
}

#download a {
	color: grey;
}

#another a {
	color: black;
}