<!DOCTYPE html>
<html>
<head>
	<title>Rachel's Grocery List</title>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  	<script src="GroceryList.js"></script>
</head>
<body ng-app ="ListApp">
	<div class = "containter" ng-controller = "ListCtrl">
	<h1>Rachel's Grocery List</h1>
	<form ng-submit="addPurchase()">
	  Food Item: <input type="text" class="form-control" ng-model="newItem" ng-pattern="/^[a-zA-Z\s]*$/">
	  Quantity: <input type="text" class="form-control" ng-model="newItemQuantity">
	  <button class="btn btn-default" ng-click="addItem()">Submit</button>
	 </form>
	 <label>Search: <input ng-model="search"></label>
	 <button class="btn btn-default" ng-click="emptyCart()">Empty Cart</button>
	 <ol>
	 	<li ng-repeat="item in items | filter:search">
	 		<div ng-hide="item.isEditing">
	 			<span ng-dblclick="item.isEditing = true">{{item.name}} - {{item.quantity}} </span>
	 			<span><button class="btn btn-small" ng-click="incQuantity(item)">+</button></span>
	 			<span><button class="btn btn-small" ng-click="decQuantity(item)">-</button></span>
	 			<span><button class="btn" ng-click="item.isEditing = true">edit</button></span>
	 			<span><button class="btn" ng-click="deleteItem($index)">delete</button></span>
	 		</div>
	 		<div ng-show="item.isEditing">
	 			<input ng-model="item.name">
	 			<span><button class="btn" ng-click="item.isEditing = false">done</button></span>
	 		</div>
	 	</li>
	 </ol>
	</div>
</body>
</html>