<button class="homebtn"><a class="homebtnn" href="#/">Back to Home</a></button>

<h2 class="signuptitle">Sign up</h2>
<form class="signupform" ng-submit="signUp()">
 <div ng-show="errorMessage" class="alert alert-danger"> {{errorMessage}} </div>
  <div>
    <label>Name</label>
    <input ng-model="name">
  </div>
  
  <div>
    <label>Email</label>
    <input ng-model="email">
  </div>
  
  <div>
    <label>Password</label>
    <input type="password" ng-model="password">
  </div>
  
  <button>Sign up</button>
  
</form>